FAST_REFRESH=false
CHOKIDAR_USEPOLLING=true
SKIP_PREFLIGHT_CHECK=true

# Emulator
REACT_APP_FLOW_NETWORK=emulator
REACT_APP_ACCESS_NODE=http://localhost:8080
REACT_APP_WALLET_DISCOVERY=http://localhost:3001/fcl/authn

# Testnet
#REACT_APP_FLOW_NETWORK=testnet
#REACT_APP_ACCESS_NODE=https://rest-testnet.onflow.org
#REACT_APP_WALLET_DISCOVERY=https://fcl-discovery.onflow.org/testnet/authn
#REACT_APP_WALLET_DISCOVERY_API=https://fcl-discovery.onflow.org/api/testnet/authn

# Mainnet
#REACT_APP_FLOW_NETWORK=mainnet
#REACT_APP_ACCESS_NODE=https://rest-mainnet.onflow.org
#REACT_APP_WALLET_DISCOVERY=https://fcl-discovery.onflow.org/authn
#REACT_APP_WALLET_DISCOVERY_API=https://fcl-discovery.onflow.org/api/authn